@model List<ResultImageDTO>
@{
    ViewData["Title"] = "ImageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section id="portfolio" class="gray-bg padding-top-bottom">
    <!--==== Portfolio Filters ====-->
    <!-- ======= Portfolio items ===-->
    <div class="projects-container scrollimation in">
        <div class="row">
            @foreach(var item in Model)
            {
                <article class="col-md-4 col-sm-6 portfolio-item web-design apps psd">
                    <div class="portfolio-thumb in">
                        <a href="#" class="main-link">
                            <img class="img-responsive img-center" src="@item.ImageURL" alt="">
                            <span class="project-title">@item.ImageTitle</span>
                            <span class="overlay-mask"></span>
                        </a>
                        <a class="enlarge cboxElement" href="#" title="@item.ImageTitle">
                            <i class="fa fa-expand fa-fw"></i>
                        </a>
                        <a class="link" href="#"><i class="fa fa-eye fa-fw"></i></a>
                    </div>
                </article>

            }
          
        </div>
    </div>
</section>


