@model List<ResultContactDTO>
@foreach (var item in Model)
{


<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İletişim</h2>
        <p><span>Yardıma ihtiyacınız var mı ?</span> <span class="description-title">Bize Yazın !</span></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-5">
            <iframe style="width: 100%; height: 400px;" src="@item.ContactMapLocation" frameborder="0" allowfullscreen=""></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="icon bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Adres</h3>
                        <p>@item.ContactAddress</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                    <i class="icon bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Telefon</h3>
                        <p>@item.ContactPhone</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <i class="icon bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Email Adresiniz</h3>
                        <p>@item.ContactEmail</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
                    <i class="icon bi bi-clock flex-shrink-0"></i>
                    <div>
                        <h3>Çalışma Saatlerimiz<br></h3>
                        <p><strong>Pzt-Cum:</strong> 09.00 - 17.30; <strong>Cumartesi-Pazar:</strong> Kapalı</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

        </div>

        @await Html.PartialAsync("~/Views/Message/SendMessage.cshtml",new CreateMessageDTO())


    </div>

</section><!-- /Contact Section -->
}