@model List<ResultFeatureDTO>
@{
    ViewData["Title"] = "FeatureList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Öne Çıkan Alan İşlemleri</h4>
                        <p>Tema bütünlüğünün bozulmaması adına sadece 1 tane öne çıkan alan bilgisi eklenebilir.</p>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Alt Başlık</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>

                                        <th scope="row">@count</th>
                                        <td>@item.FeatureTitle</td>
                                        <td>@item.FeatureSubTitle</td>
                                        <td>@item.FeatureDescription</td>
                                        <td><a href="/Feature/DeleteFeature/@item.FeatureID/" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Feature/UpdateFeature/@item.FeatureID/" class="btn btn-info">Güncelle</a></td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                        @if (Model.Count == 0)
                        {
                            <div class="alert alert-warning" role="alert">
                                Öne çıkan alan bilgisi bulunmamaktadır. Lütfen yeni bir öne çıkan alan bilgisi ekleyiniz.
                            </div>
                            <br />
                            <a href="/Feature/CreateFeature/" class="btn btn-success">Yeni Alan Bilgisi Ekle</a>
                        }
                        else if (Model.Count >= 1)
                        {
                            <div class="alert alert-danger" role="alert">
                                Sadece 1 tane öne çıkan alan bilgisi eklenebilir. Lütfen mevcut öne çıkan alan bilgisini silip yeni bir tane ekleyiniz.
                            </div>
                        }


                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

