
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadDefaultComponentPartial") @* Burası Bizim Css Kodlarımızın bulunduğu alan  *@

<body class="index-page">

    @await Component.InvokeAsync("_NavbarDefaultComponentPartial") @*Burası Bizim Uygulamada ki Üst Menü, Uygulamamızda üst menülerün olduğu kısım ben bunu Navbar olarak tutabilirim *@
    <main class="main">

        <!-- Hero Section -->
        @await Component.InvokeAsync("_FeatureDefaultComponentPartial")   @* Burası Uygulamamızda ki Hero alanı yani uygulamamızın Enjoy Your Healthy olan kısmı *@
        <!-- About Section -->
        @await Component.InvokeAsync("_AboutDefaultComponentPartial") @* Burası Uygulamamızda ki Hakkımızda kısmı yani uygulamamızın About olan kısmı *@
        <!-- Why Us Section -->
        @await Component.InvokeAsync("_ServiceDefaultComponentPartial") @* Burası Uygulamamızda ki Neden Biz kısmı yani uygulamamızın Why Us olan kısmı *@
        <!-- Stats Section -->
        @await Component.InvokeAsync("_HomePageStatisticComponentPartial") @* Burası Uygulamamızda ki İstatistik kısmı yani uygulamamızın Stats olan kısmı *@
        <!-- Menu Section -->
        @await Component.InvokeAsync("_DefaultMenuViewComponentPartial") <!--Burası Uygulamamızın Menü kısmı yani uygulamamızın Menu olan kısmı-->
        <!-- Testimonials Section -->
        @await Component.InvokeAsync("_TestimonialDefaultComponentPartial") <!-- Burası Uygulamamızın Testimonial kısmı yani uygulamamızın Testimonials olan kısmı -->
        <!-- Events Section -->
        @await Component.InvokeAsync("_EventDefaultComponentPartial") <!-- Burası Uygulamamızın Etkinlik kısmı yani uygulamamızın Events olan kısmı -->
        <!-- Chefs Section -->
        @await Component.InvokeAsync("_ChefDefaultComponentPartial") <!-- Burası Uygulamamızın Şefler kısmı yani uygulamamızın Chefs olan kısmı -->
        <!-- Book A Table Section -->
           <!-- Rezervasyon Bölümü -->
        <section id="rezervasyon" class="book-a-table section">

            <!-- Bölüm Başlığı -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Rezervasyon</h2>
                <p><span>Masanızı</span> <span class="description-title">Hemen Ayırtın<br></span></p>
            </div><!-- Bölüm Başlığı Bitiş -->

            <div class="container">

                <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 reservation-img" style="background-image: url(/yummy/assets/img/reservation.jpg);"></div>

                    <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
                        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form">
                            <div class="row gy-4">
                                <div class="col-lg-4 col-md-6">
                                    <input type="text" name="adSoyad" class="form-control" id="adSoyad" placeholder="Ad Soyad" required="">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="email" class="form-control" name="eposta" id="eposta" placeholder="E-posta Adresiniz" required="">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="text" class="form-control" name="telefon" id="telefon" placeholder="Telefon Numaranız" required="">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="date" name="tarih" class="form-control" id="tarih" placeholder="Tarih" required="">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="time" class="form-control" name="saat" id="saat" placeholder="Saat" required="">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="number" class="form-control" name="kisiSayisi" id="kisiSayisi" placeholder="Kişi Sayısı" required="">
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <textarea class="form-control" name="mesaj" rows="5" placeholder="Notunuz / Mesajınız (isteğe bağlı)"></textarea>
                            </div>

                            <div class="text-center mt-3">
                                <div class="loading">Yükleniyor...</div>
                                <div class="error-message"></div>
                                <div class="sent-message">
                                    Rezervasyon talebiniz gönderildi. Rezervasyonunuzu onaylamak için sizi arayacağız veya e-posta ile dönüş yapacağız. Teşekkürler!
                                </div>
                                <button type="submit">Masa Ayırt</button>
                            </div>
                        </form>
                    </div><!-- Rezervasyon Formu Bitiş -->

                </div>

            </div>

        </section><!-- /Rezervasyon Bölümü -->
        <!-- Galeri Bölümü -->
        <section id="galeri" class="gallery section light-background">

            <!-- Bölüm Başlığı -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Galeri</h2>
                <p><span>Galerimizi</span> <span class="description-title">İnceleyin</span></p>
            </div><!-- Bölüm Başlığı Bitiş -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "centeredSlides": true,
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 0
                            },
                            "768": {
                              "slidesPerView": 3,
                              "spaceBetween": 20
                            },
                            "1200": {
                              "slidesPerView": 5,
                              "spaceBetween": 20
                            }
                          }
                        }
                    </script>

                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery" href="~/yummy/assets/img/gallery/gallery-1.jpg">
                                <img src="~/yummy/assets/img/gallery/gallery-1.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery" href="~/yummy/assets/img/gallery/gallery-2.jpg">
                                <img src="~/yummy/assets/img/gallery/gallery-2.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery" href="~/yummy/assets/img/gallery/gallery-3.jpg">
                                <img src="~/yummy/assets/img/gallery/gallery-3.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery" href="~/yummy/assets/img/gallery/gallery-4.jpg">
                                <img src="~/yummy/assets/img/gallery/gallery-4.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery" href="~/yummy/assets/img/gallery/gallery-5.jpg">
                                <img src="~/yummy/assets/img/gallery/gallery-5.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery" href="~/yummy/assets/img/gallery/gallery-6.jpg">
                                <img src="~/yummy/assets/img/gallery/gallery-6.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery" href="~/yummy/assets/img/gallery/gallery-7.jpg">
                                <img src="~/yummy/assets/img/gallery/gallery-7.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery" href="~/yummy/assets/img/gallery/gallery-8.jpg">
                                <img src="~/yummy/assets/img/gallery/gallery-8.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Galeri Bölümü -->
        <!-- Contact Section -->
        @await Component.InvokeAsync("_DefaultContactComponentPartial") <!--Burası Uygulamamızın İletişim kısmı yani uygulamamızın Contact olan kısmı-->

    </main>

    @await Component.InvokeAsync("_FooterDefaultComponentPartial") @* Burası Uygulamamızın Footer kısmı yani uygulamamızın Footer olan kısmı *@
   

</body>

</html>