<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">
    @await Component.InvokeAsync("_NavbarFormInlineAdminLayoutViewComponentPartial") <!--Bu alanda Navbar Inline kısmı tutuluyor-->

    <ul class="navbar-nav navbar-right">
        @await Component.InvokeAsync("_NavbarMessageListAdminLayoutComponentPartial") <!--Bu alanda Navbar Mesaj Listesi kısmı tutuluyor-->
        @await Component.InvokeAsync("_NavbarNotificationListAdminLayoutComponentPartial") <!--Bu alanda Navbar kısmında bulunan Bildirimler tutuluyor-->
        @await Component.InvokeAsync("_NavbarAccountMenuAdminLayoutComponentPartial") <!--Bu alanda Navbar kısmında bulunan Profil Menüsü tutuluyor--> 
    </ul>
</nav>