@model CreateContactDTO
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Yeni İletişim Bilgisi Ekleme Sayfası</h4> 
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Adres</label>
                            <input type="text" asp-for="ContactAddress" class="form-control" />
                            <br />
                            <label>Mail</label>
                            <input type="text" asp-for="ContactEmail" class="form-control" />
                            <br />
                            <label>Telefon</label>
                            <input type="text" asp-for="ContactPhone" class="form-control" />
                            <br />
                            <label>Açık-Kapalı Saatler</label>
                            <input type="text" asp-for="ContactOpenHours" class="form-control" />
                            <br />
                            <label>Harita Lokasyonu</label>
                            <input type="text" asp-for="ContactMapLocation" class="form-control" />
                            <br />
                            <button class="btn btn-primary">İletişim Bilgisi Oluştur</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

